<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Successful registration</title>
        <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" type="text/css"href="/webjars/bootstrap/css/bootstrap.min.css" />
    <style>
        body {
            background-color: lightgrey;
        }
        .main {
            margin: 250px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
    </style>
</head>
<body>
	<div class="container text-center">
        <div class="main">
            <h2>You have signed up successfully!</h2>
            <a th:href="@{/login}" class="btn btn-primary btn-lg btn-block">Click here to login</a>
        </div>
    </div>
</body>
</html>